<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button mat-icon-button (click)="sidebarToggle()">
        <mat-icon style="color: white;">
          menu
        </mat-icon>
      </button>
        <a class="navbar-brand" routerLink="['/home']">LOGO</a>
          <button mat-icon-button>
            <mat-icon style="color: white;">
              more_vert
            </mat-icon>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="goToProfile()">
              <mat-icon>verified_user</mat-icon>
              <span>Profile</span>
            </button>
          </mat-menu>
        <!-- </div> -->
      </nav>
</header>