<div class="container-fluid">
    <div class="col-md-12">
        <div class="row m-3">
            <div class="col-md-2">
                <mat-card style="height: 100px;" (click)="goToFD()" class="d-flex justify-content-center align-items-center">
                    <h3>FD</h3>
                </mat-card>
                <mat-card style="height: 100px;" (click)="goToPhotoFrame()" class="d-flex justify-content-center align-items-center">
                    <h3>photo-frame</h3>
                </mat-card>
            </div>
        </div>
    </div>
</div>
