<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="m-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-3">
                            <img [src]="userData.picture">
                        </div>
                        <div class="m-2"><strong>Name: </strong>{{userData.name}}</div>
                        <div class="m-2"><strong>Given name: </strong>{{userData.given_name}}</div>
                        <div class="m-2"><strong>Family name: </strong>{{userData.family_name}}</div>
                        <div class="m-2"><strong>Email: </strong>{{userData.email}}</div>
                        <div class="m-2"><strong>Email verified: </strong>{{userData.email_verified}}</div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>