<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center align-items-end">
                <mat-card class="col-md-3">
                    <div class="row">
                        <h1 class="d-flex justify-content-center">Logo</h1>
                    </div>
                    <div class="row">
                        <form [formGroup]="loginFormGroup" class="col-md-12">
                            <mat-form-field class="fullwidth">
                                <mat-label>
                                    Username
                                </mat-label>
                                <input matInput type="text" autocomplete="username" formControlName="username"/>
                            </mat-form-field>
                            <mat-form-field class="fullwidth">
                                <mat-label>
                                    Password
                                </mat-label>
                                <input matInput type="password" autocomplete="password" formControlName="password"/>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>